@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 100%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #d6d6d6;
    background: transparent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

::-webkit-scrollbar-track {
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #d6d6d6;
    border-radius: 24px;
}