@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 100%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #d6d6d6;
    background: transparent;
}

::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    transition: all;
}

::-webkit-scrollbar-track {
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #d6d6d6;
    border-radius: 24px;
}


.page-enter-active,
.page-leave-active {
    transition: opacity 0.15s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

/* Layout */
.layout-enter-active,
.layout-leave-active {
    transition: background-color 0.5s;
    background-color: hsl(0%, 0%, 10%);
}

.layout-enter,
.layout-leave-active {
    background-color: hsl(0%, 0%, 10%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
    transition: all 0.15s ease;
}

.slide-bottom-enter-from,
.slide-bottom-leave-to {
    transform: translateY(100%);
}

.slide-top-enter-active,
.slide-top-leave-active {
    transition: transform 15s ease-in-out;
}

.slide-top-enter-from,
.slide-top-leave-to {
    transform: scale(0);
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 100ms ease-in-out;
}

.slide-left-enter-from,
.slide-left-leave-to {
    transform: translateX(0%);
    opacity:0;
}
